.advantages {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
}

.advantages__slogan {
  @include text;
  color: $color-text-title;
}

.advantages__description {
  line-height: 26px;
}

.advantages__exordium {
  width: 256px;
  margin: 0 auto;
  padding: 43px 32px 20px 32px;
}

@media (min-width: $tablet-width) {
  .advantages__exordium {
    width: 490px;
    padding: 51px 139px 55px 139px;
  }

  .advantages {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__exordium {
    width: 490px;
    padding: 0;
  }

  .advantages {
    width: 1200px;
  }
}
