$base-color: #81b3d2;
$background-color: #eeeeee;
$color-text: #ffffff;
$color-heading: #000000;
$line-height-description: 21px;
.advantages-sedona__gist {
  background-color: $base-color;
  color: $color-text;
}
@mixin heading ($font-size: 18px, $line-height: 26px, $font-weight: 700) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
.advantages-sedona__title {
  @include heading;
}
.advantages-sedona__services {
  @include heading;
  color: $color-heading;
}
.advantages-sedona--background {
  background-color: $background-color;
  h3 {
    @include heading;
    color: $color-heading;
  }
}
.advantages-sedona__description {
  line-height: $line-height-description;
}
