.btn {
  @include text(21px);
  display: block;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: $background-color-auxiliary;
  margin-top: 35px;
  border: none;
  text-decoration: none;
  color: $color-text-light;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .btn {
    margin-top: 45px;
  }
}
