.page-footer__title {
  @include text(21px);
  color: $color-text-title;
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__wrapper {
  padding: 30px 85px 20px 85px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .mapa__iframe {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__title {
    padding-top: 10px;
  }

  .mapa__iframe {
    background: #eeeeee url("../img/bg-map-tablet@1x.jpg") no-repeat center top;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .mapa__iframe {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 648px;
    padding: 30px 60px 36px 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    padding: 36px 120px 36px 120px;
  }

  .mapa__iframe {
    background: #eeeeee url("../img/bg-map-desktop@1x.jpg") no-repeat center top;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .mapa__iframe {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
