.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  text-align: center;
  height: 83px;
  order: 1;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    width: 768px;
    padding: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    height: 83px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__logo {
    left: 48%;
    height: 96px;
  }

  .page-header__logo img {
    width: 186px;
    height: auto;
  }
}
