.page-main__welcome {
  position: relative;
  text-align: center;
  background-color: #9bb0c0;
  background-size: auto 100%;
  background-position: center 26%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  min-height: 270px;
}

.page-main__welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
}

.page-main__welcome svg {
  padding-top: 90px;
  padding-bottom: 80px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-main__welcome {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-main__welcome-photo,
.page-main__welcome-form {
  min-height: 159px;
  background-position: center 90%;
  background-size: 250% auto;
}

.page-main__welcome.page-main__welcome-photo svg,
.page-main__welcome.page-main__welcome-form svg {
  padding: 0;
  padding-top: 53px;
  padding-bottom: 35px;
}

.page-main {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
  }

  .page-main__welcome {
    padding: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-main__welcome::after {
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__welcome {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-main__welcome.page-main__welcome-photo svg {
    height: 80px;
    padding-top: 95px;
    padding-bottom: 53px;
  }

  .page-main__welcome svg {
    width: 460px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 86px;
  }

  .page-main__welcome-photo,
  .page-main__welcome-form {
    background-size: 1200px;
    min-height: 291px;
  }

  .page-main__welcome.page-main__welcome-form svg {
    height: 80px;
    padding-top: 95px;
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1200px;
  }

  .page-main__welcome {
    min-height: 518px;
    background-size: 1200px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-main__welcome::after {
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__welcome {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-main__welcome-photo,
  .page-main__welcome-form {
    min-height: 301px;
  }

  .page-main__welcome.page-main__welcome-photo svg {
    padding-top: 100px;
    padding-bottom: 58px;
  }
}
